.form {
    width: 100%;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    background-color: $white;
    .form-header {
        margin-bottom: 2rem;
        .form-header-title {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $color-3;
            @include line-after;
        }
    }
    label {
        font-weight: 500;
    }
}