<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Trabalho de WEB1</title>
    </head>
    <body>
        <h1>Bem-vindos à página de boas vindas</h1>
        <p>Criada por Pedro Raposo Felix de Sousa</p>
    </body>
</html>